doctype html
html
    head
        title Flexbox Layout
        each css in files.CSS
            link(rel='stylesheet', href=`../${css}`)
    body
        h1 Flexbox

        .container
            .items item 1
            .items item 2


