doctype html
html
    head
        meta(name="viewport", content="initial-scale=1, maximum-scale=1")
        title Flexbox Layout
        each css in files.CSS
            link(rel='stylesheet', href=`../${css}`)
    body
        h1 Flexbox

        .container
            -for(var i=1; i<=8; i++)
                .items
                    .item-container
                        picture.pic-container
                            img.img(src="http://lorempixel.com/350/350")

                        .img-info
                            .price $10.99
                            .item-desc Get additional topic for $1.00
                            .btn-selection Select

