* body {
  box-sizing: border-box;
}

h1 {
  color: red;
  text-align: center;
}

.container {
  background-color: rosybrown;
  width: 80%;
  height: 50vh;
  margin: 0 auto;

  display: flex;
  align-items: stretch;

}

.items {
  //flex: none;
  //flex-grow: 1;

  &:nth-child(1) {
    flex: 25;
  }

  &:nth-child(2) {
    flex: 75;
  }

  &:nth-child(odd) {
    background-color: lightsteelblue;
  }

  &:nth-child(even) {
    background-color: paleturquoise;
  }
}